/**:root {

}

html {
    position: relative;
    min-height: 100%;
}

body {
  margin-bottom: 60px; 
}

navvy{
    color: white;
}

.fas fa-camera{
    color:#3498DB;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.fas fa-camera{
    color:white;
}**/
/* Margin bottom by footer height */

/**Register And Base Page CSS**/
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FBEEE6;
  
}

.icon{ /*camera icon*/
  color: black;
}

.register{
  font-family: Blippo;
  font-size: 20px;
  font-weight: 600;
}

.form-group{
  font-weight: 500;
}

.photo{ /*photogram*/
    font-family:Brush Script MT;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}

.topnav {
  overflow: hidden;
  background-color: #5DADE2;
  /**
  position: fixed; 
  top:0;
  width:100%; new
  **/
  
}
.register{
  display:block;
  text-align:left;
  padding:20px;
  width: 480px;
  margin: auto;
}

.register-form {
  display:block;
  text-align:left;
  border:2px solid #B2BABB;
  padding:20px;
  width: 440px;
  height: 800px;
  margin: auto;
}
input{
  text-align:center;
  display: block;
  width: 375px;
  height: 40px;
  word-wrap: break-word;
}

.topnav a {
  float: left;
  /**display:block; new**/
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/**.topnav a:hover {
  background-color: #ddd;
  color: black;
}**/

.topnav-right {
  float: right;
}

ul.topnav{
	list-style:none;
}
.fa{
	display:inline;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /**for scrolling**/
}

.butn {
  border-radius: 10px;
  background-color: #8BC34A;
  color: white;
  text-align: center;
  /**padding: 14px 20px;**/
  padding: 5px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
/**End of Register Page CSS**/
/**Home Page CSS**/
* {
  box-sizing: border-box;
}

.home-row {
  display: flex;
}

.home-column {
  flex: 33.33%;
  /*padding: 5px;*/
}

.home-column img{
  width:550px;
  height:400px;
}

.register-button{
  border-radius: 10px;
  background-color: #8BC34A;
  color: white;
  text-align: center;
  /**padding: 14px 20px;**/
  padding: 5px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 250px;
  opacity: 0.9;
}

.login-button{
  border-radius: 10px;
  background-color: #5DADE2;
  color: white;
  text-align: center;
  /**padding: 14px 20px;**/
  padding: 5px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 250px;
  opacity: 0.9;
}

.photogram-box{ /*div box*/
  /*display:box;*/
  border:1px solid #B2BABB;
  padding:20px;
  width: 550px;
  height: 400px;
  background-color: white;
  margin: auto;
  color: black;
}

ul.home-nav{
	list-style:none;
	display:inline;
}

ul.home-nav li{
  text-align: center;
}
.home-photo{ /*word photogram*/
    font-family:Brush Script MT;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    color: black;
    /*overflow: hidden;*/
    text-decoration: none;
}

.home-photo a:hover {
  color: hotpink;
}

.home-icon{ /*home camera icon*/
  color:black;
}

/**End of Home Page CSS**/
/**Login Page CSS**/
.login-text{
  font-family: Blippo;
  font-size: 20px;
  font-weight: 600;
}
.login-text{
  display:block;
  text-align:left;
  padding:20px;
  width: 590px; /**480px originally**/
  margin: auto;
}
.login-form {
  /*ORIGINAL width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;*/
  border:2px solid #B2BABB;
  padding:20px;
  width: 550px;
  height: 400px;
  background-color: white;
  margin: auto;
  color: black;
  text-align: left;
}
.butn {
  border-radius: 10px;
  background-color: #8BC34A;
  color: white;
  text-align: center;
  /**padding: 14px 20px;**/
  padding: 5px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
input{
  text-align:center;
  display: block;
  width: 375px;
  height: 40px;
  word-wrap: break-word;
}
/**End of Login Page CSS**/