{% extends 'base.html' %}

{% block main %}
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <br><br>
    <form action="{{ url_for('newpost') }}">
        <button type="submit" class="new-post">New Post</button>  
    </form>
    <br> 
    {% if users %}
        <div class="second_post" v-for="user in users" :key="task.id" >
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSptfNmiERccFp092PsYGlU4Ez2UirW5NAFJi30ul4ejCa4x0ak&usqp=CAU" alt="Username Icon" class="username_pic">
            <h3 class="u_name">{{user.username}}</h3><br><br>
            <img src="{{user.photo}}" alt="Second Post" class="profile_pic">
            <p class="post_caption">{{user.caption}}</p>
            <img src="https://jcblogimages.blob.core.windows.net/img/2014/08/image.png" alt="Second Post" class="heart">
            <h3 class="likes">18 likes</h3>
            <h3 class="date">07 March 2018</h3>
        </div>
    {% else %}
        <p>There are currently no users.</p>
    {% endif %}
{% endblock %}