{% extends "base.html" %}

<!--{% block main %}
<h1 class="page-header">JWT Demo</h1>
<p class="lead">This application is a basic demonstration of JSON Web Tokens being used in a Flask App.</p>
<p>The application uses the VueJS and the Fetch API to make requests to a simple API, but a JWT token needs to be passed in an Authorization header in order to work with the <code>/api/secure</code> route.</p>
<p>Visit the <a href="{{ url_for('demo') }}">Demo</a> and click the buttons provided.</p>
{% endblock %} ORIGINALLY HERE -->

{% extends 'base.html' %}
    <br><br><br><br>
    <div class="home-row">
        <div class="home-column">
            <img src="https://images.adsttc.com/media/images/5b68/91b2/f197/cc32/a300/04ba/slideshow/18_MAD_Echigo_Tsumari_Tunnel_of_Light_Live_Cave_by_Nacasa___Partners_Inc..jpg?1533579671" alt="Snow"><!-- style="width:60%">-->
        </div>
        <div class="home-column">
            <div class="photogram-box">
                <ul class="home-nav">
                    <li>
                      <i class="fa fa-camera fa-2x"></i>
                      <!--<h3 class="home-photo">Photogram</h3>-->
                      <a class="home-photo" style="text-decoration:none" href="www.google.com">Photogram</a>
                    </li>
                    <hr>
                    <p>Share photos of your favourite moment with your friends, family and the world.</p>
                </ul>
                <br><br>
                <table class="home-buttons">
                    <th>
                        <form action="{{ url_for('register') }}">
                           <button type="submit" class="register-button">Register</button> 
                        </form>
                    </th>
                    <th>
                        <form action="{{ url_for('login') }}"> <!--CHANGE TO A LOGIN HTML-->
                           <button type="submit" class="login-button">Login</button> 
                        </form>
                    </th>
                </table>
            </div>
        </div>
    </div>
{% endblock %}